
/* UNIVERSALS */

html, body {
    height:100%;
    width:100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #3FB1DE;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover, a:visited {
    color: #fff;
}

body {
    height: 800px;
}
/* HEADER STYLES */

header {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav-links {
    float: right;
    
}

li {
    list-style: none;
    display: inline;
}

#nav-links li {
   padding: 10px;
   background-color: #0d0d0d;
   border-radius: 5px 5px 5px 5px;
   font-family: 'Roboto', sans-serif;
}

#logo {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    
}

/* MAIN BODY */

.first-content {
    height: 400px;
    width: 100%;
    margin-top: -24px;
    text-align: center;
    background-image: url('../img/mountain.jpg');
    font-family: 'Roboto' , sans-serif;
    font-size: 17px;
}

#title {
    padding-top: 20px;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

hr {
    border-color: #000;
    margin-top: -2px;
}

.list {
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    margin-right: 30px;
    color: #fff;
}

#top-roping {
    font-size: 24px;
    padding: 10px;
}

#lead-climbing {
    font-size: 24px;
    font-style: bold;
    padding: 10px;
}

#bouldering {
    font-size: 24px;
    font-style: bold;
    padding: 10px;
}


/* FOOTER SECTION */

footer {
    background-color: #000;
    color: #fff;
    height: 150px;
    width: 100%;
    margin-top: 150px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.fa {
    font-size: 64px;
    padding: 0 12px;
    color: #fff;
}

footer a, footer a:hover {
    color: #737373;
}

#social-media {
    text-align: center;
    padding-top: 36px;
}
